C:\Users\dfluenza\Desktop\C++\what-am-i-doing-here\Debug/
C:\Users\dfluenza\Desktop\C++\what-am-i-doing-here\Massive\Debug/
C:\Users\dfluenza\Desktop\C++\what-am-i-doing-here\Lab\Debug/
C:\Users\dfluenza\Desktop\C++\what-am-i-doing-here\Functions\Debug/
*.exe
*.lib
*.dll
*.pch
*.ipch
*.db
*.pdb